<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.univ_lille1.pje.pje3jx" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BookAddActivity"
            android:label="@string/title_activity_add_book"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".FiltersListActivity"
            android:label="@string/title_activity_filterslist"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".FiltersListAddActivity"
            android:label="@string/title_activity_filterslist_add"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".FiltersListResultsActivity"
            android:label="@string/title_activity_list_books"
            android:parentActivityName=".FiltersListActivity" >
        </activity>
        <activity
            android:name=".BookDisplayActivity"
            android:label="@string/title_activity_book_display"
            android:parentActivityName=".BookListActivity" >
        </activity>
        <activity
            android:name=".BookScanActivity"
            android:label="@string/title_activity_book_scan"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BookListActivity"
            android:label="@string/title_activity_list_books"
            android:parentActivityName=".MainActivity" >
        </activity>
    </application>

</manifest>
